.burger {
    @include reset-button;
    @include squere(28px);
    @include flex-center;
    display: none;
    position: relative;
    z-index: 2;

    @include tablet {
        display: flex;
    }

    @include phone {
        @include squere(20px);
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(--color-black);

        position: absolute;
        left: 50%;
        translate: -50% 0;
        transition: all .3s ease;

        @include phone {
            width: 14px;
        }
    }

    &::before {
        top: 6px;

        @include phone {
            top: 4px;
        }
    }

    &::after {
        bottom: 6px;

        @include phone {
            bottom: 4px;
        }
    }

    & span {
        font-size: 0;
        width: 20px;
        height: 2px;
        background: var(--color-black);

        @include phone {
            width: 14px;
        }
    }

    &.burger--active {

        &::before,
        &::after {
            width: 90%;
            top: 50%;
            bottom: auto;
            translate: -50% -50%;
        }

        &::before {
            rotate: 45deg;
        }

        &::after {
            rotate: -45deg;

        }

        & span {
            opacity: 0;
        }
    }
}