.header {
    position: relative;
    border-bottom: var(--border);
    background: var(--color-white);

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &__top {
        display: flex;
        align-items: center;
        height: 40px;
        color: var(--color-white);
        background: var(--color-black);

        & .wrapper {

            justify-content: flex-start;

            @include mobile {
                justify-content: center;
            }
        }

        & .rating {
            color: var(--color-white);
            @include mobile {
                display: none;
            }
        }

        & a {
            margin-left: 160px;
            @include fluid-text(16, 13);
            @include flex-center;
            gap: 8px;
            text-transform: uppercase;

            @include mobile {
                margin: 0;
            }
        }
    }

    &__bottom {
        padding-block: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            padding-block: 20px;
        }
    }

}

.action {
    display: flex;
    align-items: center;
    gap: 24px;

    @include mobile {
        gap: 15px;
    }
}