.single {
    padding: 40px 0;

    @include mobile {
        padding: 30px 0;
    }

    & .wrapper {
        gap: 30px;

        @include tablet {
            flex-direction: column;
        }
    }

    & .col {

        max-width: calc(50% - 15px);

        @include tablet {
            max-width: none;
        }

        &:first-child {
            position: sticky;
            top: 0;

            @include tablet {
                position: static;
            }
        }

        &:last-child {
            padding: 28px 24px;
            box-shadow: var(--shadow);
            border-radius: var(--border-radius);

            @include mobile {
                box-shadow: none;
                padding: 0;
            }
        }
    }


    & .swipper-gallery {
        height: 540px;
        width: 100%;

        @include mobile {
            height: 400px;
        }

        @include phone {
            height: 320px;

            & .swiper-button-next,
            .swiper-button-prev {
                display: none
            }
        }

        & .swiper-slide {
            @include flex-center;
            overflow: hidden;
            border-radius: 20px;
            background: var(--color-gray-light);

            @include mobile {
                border-radius: 8px;
            }
        }
    }

    & .swiper-thumb {
        margin-top: 10px;
        height: 100px;
        width: 100%;

        @include phone {
            height: 70px;
        }

        & .swiper-slide {
            @include flex-center;
            opacity: 0.6;
            background: var(--color-gray-light);
            padding: 10px;

            &-thumb-active {
                opacity: 1;
                box-shadow: var(--shadow);
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }

    & h1 {
        @include fluid-text (32, 24);
        margin-bottom: 10px;
    }

    & .product__price {
        margin: 20px 0;

        @include mobile {
            margin: 20px 0;
        }

        & .price-old {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.37;
            color: var(--color-gray);
            background: none;
        }

        & .onsale {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            color: var(--color-white);
            background: var(--color-red);
            border-radius: 8px;
            padding: 2px 8px;
        }
    }

    & .regular {
        padding: 20px 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .size-selector {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & span {
                @include flex-center;
                gap: 6px;
            }
        }

        & .bottom {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;


        }


    }



    .size-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 13px 20px;
        border-radius: 7px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: var(--shadow);
        border: 2px solid var(--color-white);

        @include phone {
            padding: 13px;
        }

        &.active {
            border-color: var(--color-green);
            background-color: var(--color-gray-light);
        }

        @include hover {
            border-color: var(--color-green);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        & img {
            max-width: 42px;
            height: auto;
            margin-bottom: 10px;
        }

        & input {
            display: none;
        }

        & h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.37;
        }

        & p {
            @include fluid-text(12, 10);
            opacity: .8;
        }

    }

    .color-selector {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;

        & .color-label {
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            gap: 7px;
            @include fluid-text(20, 16);
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: 0.4000000059604645px;
        }

        &>p {
            color: #464545CC;
        }

        & .color-actions {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include phone {
                margin-top: 15px
            }

            & .icon {
                @include flex-center;
                color: var(--color-gray);
                border-radius: 50%;
                transition: all .3s ease;

                &.active {
                    & svg {
                        rotate: 90deg;
                    }
                }

                @include hover {
                    color: var(--color-green);
                    box-shadow: var(--shadow);
                }

                & svg {
                    width: 17px;
                    transition: all .3s ease;
                }
            }
        }

        & .color-options {
            max-height: 28px;
            overflow: hidden;
            flex: 1;
            padding: 4px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 24px;

            &.show {
                max-height: none;
            }
        }

        & .color-option {
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-gray);
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.2s, border-color 0.2s;
            flex-shrink: 0;

            @include hover {
                transform: scale(1.1);
            }

            &.active {
                box-shadow: var(--shadow);
                border: 4px solid var(--color-green);
            }
        }
    }

    .personalization-selector {
        border-top: var(--border);
        padding-top: 25px;
        width: 100%;

        &.active {
            & .top .icon {
                display: flex;
            }

            & .personalization-style {
                display: block;
            }
        }

        & .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .title {
                @include reset-button;
                @include flex-center;
                gap: 7px;

                @include hover {
                    color: var(--color-green);
                }

                & span {
                    color: var(--color-red-dark);
                }
            }

            & .icon {
                display: none;

                & svg {
                    width: 12px;
                }
            }
        }

        & .personalization-style {
            margin-top: 20px;
            display: none;

            @include phone {
                margin-top: 25px;
            }
        }

        & .slider {
            position: relative;
            padding: 10px 0 25px;

            @include mobile {
                padding: 10px 0 20px;
            }

            .swiper-button-prev {
                left: -12px;

                @include mobile {
                    left: 0px;
                }

                &.swiper-button-disabled {
                    display: none;
                }
            }

            .swiper-button-next {
                right: -12px;

                @include mobile {
                    right: 0px;
                }

                &.swiper-button-disabled {
                    display: none;
                }
            }
        }

        & .instructions {
            @include fluid-text (16, 14);
            margin: 10px 0 15px;
            position: relative;
            padding-left: 20px;

            line-height: 1;

            @include phone {
                margin: 10px 0 15px;
                padding: 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                display: block;
                min-width: 13px;
                height: 13px;
                background: url(../images/icons/info.svg) no-repeat center / cover;

                @include phone {
                    display: none;
                }
            }
        }

        & input {
            width: 100%;
            height: 46px;
            border: var(--border);
            border-radius: 8px;
            padding: 0 20px;

            &::placeholder {
                text-align: center;
            }

            &:focus-visible {
                border-color: var(--color-green);
            }
        }

        & .button {
            width: 100%;
            margin-top: 20px;

            @include mobile {
                margin-top: 15px;
            }
        }

        .personalization-option {
            @include flex-center;
            border-radius: 7px;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 2px solid var(--color-white);

            &.active {
                border-color: var(--color-green);
            }

            @include hover {
                border-color: var(--color-green);
            }

            & img {
                max-width: 164px;
                height: 164px;
                object-fit: cover;

                @include phone {
                    max-width: 180px;
                    height: 170px;
                }
            }

            & input {
                display: none;
            }
        }
    }

    & .payment__list {
        margin-top: 20px;

        @include phone {
            margin-top: 25px;
        }

        & img {
            max-height: 24px;
        }
    }

    & .desc__list {
        @include fluid-text (16, 14);
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include phone {
            gap: 10px;
        }

        & li {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

}